*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1230px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
main{
    padding-top: 120px;
    background-color: #1A0A0A;
}
a{
    transition: 0.5s;
}
